{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1 class="mb-4">Reinitialiser votre mot de passe</h1>

    {{ form_start(resetForm) }}
        <div class="">
            {{ form_row(resetForm.plainPassword, {'label': false}) }}
        </div>

        <button type="submit" class="btn btn-outline-primary mt-4" >Envoie de l'email</button>
    {{ form_end(resetForm) }}

{% endblock %}
