{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <section>
        <form action="{{ path('app_login') }}" method="post">

                <label for="username">Email:</label>
                <input type="text" id="username" name="_username"   placeholder="Entrez votre email" value="{{ last_username }}">

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" placeholder="Entrer votre mot de passe">

                <label for="scales">
                    <input type="checkbox" id="_remember_me" name="_remember_me"/>
                    Se souvenir de moi
                </label>

                <button type="submit" class="btn btn-primary btn-lg">Connexion</button>
        </form>
    </section>
{% endblock %}
